header {
font-size: 10px;
font-family: sans-serif;
color: aqua;
text-align: center;
}

nav {
    font-family: serif;
    color: aqua;
    font-size: 10px;
}

.content {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    color: black;
}

footer{
    display: flex;
    align-self: flex-end;
}